@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudDrawer Open="@NavBarState.Value.DrawerOpen" OpenChanged="@OpenChanged" ClipMode="DrawerClipMode.Docked" Anchor="Anchor.Right">
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavGroup Title="Games" Icon="@Icons.Material.Filled.VideogameAsset" Expanded="true">
            <MudNavLink Href="games/generic" Match="NavLinkMatch.Prefix">Generic</MudNavLink>
            <MudNavLink Href="games/sevenwonders" Match="NavLinkMatch.Prefix">7 Wonders</MudNavLink>
            <MudNavLink Href="games/millebornes" Match="NavLinkMatch.Prefix">Mille Bornes</MudNavLink>
            <MudNavLink Href="games/mu" Match="NavLinkMatch.Prefix">Mü</MudNavLink>
            <MudNavLink Href="games/qwixx" Match="NavLinkMatch.Prefix">Qwixx</MudNavLink>
            <MudNavLink Href="games/split" Match="NavLinkMatch.Prefix">Split</MudNavLink>
            <MudNavLink Href="games/yahtzee" Match="NavLinkMatch.Prefix">Yahtzee</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="true">
            <MudNavLink Href="settings/players" Match="NavLinkMatch.Prefix">Players</MudNavLink>
            <div class="mud-nav-item">
                <div class="mud-nav-link">
                    <MudSwitch T="bool" Checked="@ThemeState.Value.IsDarkMode" Color="Color.Primary" CheckedChanged="@DarkModeCheckedChanged">Dark Mode</MudSwitch>
                </div>
            </div>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>
